## Heroes of Pymoli
### Data compiled by Suraj Thyagaraj
#### Submitted on 03/03/2020

In [104]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
datafile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(datafile)

In [105]:
#Preliminary data analysis, checks
df.head(5)
# list(df.columns)
# df.describe()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [106]:
# For total player count, count the total unique SN values
tp = df.nunique()['SN']
df_Players = pd.DataFrame([{"Total Players": df["SN"].nunique()}])
print(" There are " + str(tp) + " total players ")
df_Players

There are 576 total players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [107]:
#Create a dataframe of Summary metrics
Summary = pd.DataFrame([
        {"Average Price": df["Price"].mean(), "Unique Items": len(df["Item ID"].value_counts()), 
        "Total Purchases": df['Price'].count(), "Total Revenue": df["Price"].sum()} ])

Summary['Average Price'] = Summary['Average Price'].map("${:,.2f}".format)
Summary['Total Revenue'] = Summary['Total Revenue'].map("${:,.2f}".format)
Summary

  Average Price  Unique Items  Total Purchases Total Revenue
0         $3.05           183              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [108]:
#use Groupby to create a group based on Gender
gender_data = df.groupby("Gender")
gender_data_counts = gender_data.nunique()["SN"] #create another series from Gender with unique players
gender_data_percents = gender_data_counts / tp * 100 #compute percent of male/female/other by div total players

df_Gender = pd.DataFrame({"Percentage of Players": gender_data_percents, "Total Count": gender_data_counts}) # Create a dataframe with count, % of male/female/other gamers
df_Gender = df_Gender.sort_values(["Total Count"], ascending = False) # Sort this dataframe in descending order of total count
# df_Gender.style.format({"Percentage of Players":"{:.2f}"})
df_Gender['Percentage of Players'] = df_Gender['Percentage of Players'].map("{:,.2f}%".format)
df_Gender

                      Percentage of Players  Total Count
Gender
Male                                 84.03%          484
Female                               14.06%           81
Other / Non-Disclosed                 1.91%           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [109]:
#use Groupby to create a group based on Gender and compute count, mean, etc
purchase_count = df.groupby("Gender")["Purchase ID"].count() 
avg_purchase_price = df.groupby("Gender")["Price"].mean()
total_purchase_value = df.groupby("Gender")["Price"].sum()
avg_purchase_value_person = total_purchase_value/gender_data_counts

gender_purchase_data = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value":total_purchase_value,
                                    "Avg Total Purchase per Person": avg_purchase_value_person})

gender_purchase_data = gender_purchase_data.sort_values(["Total Purchase Value"], ascending = False) # Sort this dataframe in descending order of total purchase
gender_purchase_data['Average Purchase Price'] = gender_purchase_data['Average Purchase Price'].map("${:,.2f}".format) # formatting data display
gender_purchase_data['Total Purchase Value'] = gender_purchase_data['Total Purchase Value'].map("${:,.2f}".format) # formatting data display
gender_purchase_data['Avg Total Purchase per Person'] = gender_purchase_data['Avg Total Purchase per Person'].map("${:,.2f}".format) # formatting data display

gender_purchase_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [110]:
# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
# Create names for the bins
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Create a new field in the original data frame to hold Age Range info
df["Age Range"] = pd.cut(df["Age"], bins, labels=bin_names)
df
age_range = df.groupby("Age Range") # Apply groupby to original dataframe to group by newly created Age Range object
total_by_age = age_range["SN"].nunique() # Count number of entries per age group
percent_by_age = (total_by_age/tp) * 100 # Convert to percent

df_age = pd.DataFrame({"Total Count": total_by_age, "Percentage of Players": percent_by_age}) # Create a new dataframe based on age classification

df_age['Percentage of Players'] = df_age['Percentage of Players'].map("{:,.2f}%".format) # Apply formatting to percentage display
df_age # Note: no sorting applied here as we would like to see this info in the same order as the ascending age groups

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [111]:
#use Groupby to create a group based on Age Range and compute count, mean, etc
purchase_count = df.groupby("Age Range")["Purchase ID"].count()
avg_purchase_price = df.groupby("Age Range")["Price"].mean()
total_purchase_value = df.groupby("Age Range")["Price"].sum()
avg_purchase_value_person = total_purchase_value/total_by_age

age_purchase_data = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value":total_purchase_value,
                                    "Avg Total Purchase per Person": avg_purchase_value_person})

#age_purchase_data = age_purchase_data.sort_values(["Total Purchase Value"], ascending = False) # Sort this dataframe in descending order of total purchase
age_purchase_data['Average Purchase Price'] = age_purchase_data['Average Purchase Price'].map("${:,.2f}".format) # formatting data display
age_purchase_data['Total Purchase Value'] = age_purchase_data['Total Purchase Value'].map("${:,.2f}".format) # formatting data display
age_purchase_data['Avg Total Purchase per Person'] = age_purchase_data['Avg Total Purchase per Person'].map("${:,.2f}".format) # formatting data display

age_purchase_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [112]:
#use Groupby to create a group based on SN and compute count, mean, etc
purchase_count = df.groupby("SN")["Purchase ID"].count()
avg_purchase_price = df.groupby("SN")["Price"].mean()
total_purchase_value = df.groupby("SN")["Price"].sum()
#avg_purchase_value_person = total_purchase_value/total_by_age

user_purchase_data = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value":total_purchase_value,
                                   })

user_purchase_data = user_purchase_data.sort_values(["Total Purchase Value"], ascending = False) # Sort this dataframe in descending order of total number of purchases
user_purchase_data['Average Purchase Price'] = user_purchase_data['Average Purchase Price'].map("${:,.2f}".format) # formatting data display
user_purchase_data['Total Purchase Value'] = user_purchase_data['Total Purchase Value'].map("${:,.2f}".format) # formatting data display
#user_purchase_data['Avg Total Purchase per Person'] = user_purchase_data['Avg Total Purchase per Person'].map("${:,.2f}".format) # formatting data display

user_purchase_data.head(10)

              Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                  5                  $3.79               $18.96
Idastidru52                4                  $3.86               $15.45
Chamjask73                 3                  $4.61               $13.83
Iral74                     4                  $3.40               $13.62
Iskadarya95                3                  $4.37               $13.10
Ilarin91                   3                  $4.23               $12.70
Ialallo29                  3                  $3.95               $11.84
Tyidaim51                  3                  $3.94               $11.83
Lassilsala30               3                  $3.84               $11.51
Chadolyla44                3                  $3.82               $11.46

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [113]:
# create a new sub-dataframe to hold just the Item ID, Item Name and Price info
df_items = df[["Item ID", "Item Name", "Price"]] #
# df_items
# temp=df_items.groupby(["Item ID", "Item Name"])
# temp
purchase_count = df_items.groupby(["Item ID", "Item Name"])["Price"].count()
avg_purchase_price = df_items.groupby(["Item ID", "Item Name"])["Price"].mean()
total_purchase_value = df_items.groupby(["Item ID", "Item Name"])["Price"].sum()


item_purchase_data = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value":total_purchase_value,
                                   })

item_purchase_data_sort1 = item_purchase_data.sort_values(["Purchase Count"], ascending = False) # Sort this dataframe in descending order of total number of purchases

item_purchase_data_sort1['Average Purchase Price'] = item_purchase_data_sort1['Average Purchase Price'].map("${:,.2f}".format) # formatting data display
item_purchase_data_sort1['Total Purchase Value'] = item_purchase_data_sort1['Total Purchase Value'].map("${:,.2f}".format) # formatting data display
item_purchase_data_sort1.head(10)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
103,Singed Scalpel,8,$4.35,$34.80
75,Brutality Ivory Warmace,8,$2.42,$19.36
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32
59,"Lightning, Etcher of the King",8,$4.23,$33.84

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [114]:
item_purchase_data_sort2 = item_purchase_data.sort_values(["Total Purchase Value"], ascending = False) # Sort this dataframe in descending order of total number of purchases

item_purchase_data_sort2['Average Purchase Price'] = item_purchase_data_sort2['Average Purchase Price'].map("${:,.2f}".format) # formatting data display
item_purchase_data_sort2['Total Purchase Value'] = item_purchase_data_sort2['Total Purchase Value'].map("${:,.2f}".format) # formatting data display
item_purchase_data_sort2.head(10)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32